*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.container,.navbar,.grid{
    
}
.container{
    height: 100vh;
    width: 100vw;
}

.navbar{
    background-color:#57606f;
    height: 15vh;
    display: flex;
    width:100vw;
}
.grid{
    height: 85vh;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.actions-button,.filters{
    height: 50%;
   background-color:#2f3542;
   margin-top: calc( ( 25 / 100 ) * 15vh );
   margin-left: 5rem;
}
.filters{
    width: 16rem;
    display: flex;
}
.actions-button{
    width: 8rem;
    display:flex;
}
.filter{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter:hover{
    background-color: #747d8c;
}
.add,.delete{
    height: 100%;
    width: 50%;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* default flex directn => horizontal */
    justify-content: center;
    /* this will set your childen in horizontal center  */
    align-items: center;
    /* this will set your children in vertical center */
}
.add:hover,.delete:hover{
    background-color: #747d8c;
}
.delete{
    font-size: 2.8rem;
}

.filter div
{
    height: 50%;
    width: 50%;
    border-radius: 4px;

    /* margin-top: calc( ( 10 / 100 ) * 100%);
    margin-left: calc( ( 10 / 100 ) * 100%); */
}

.pink{
    background-color: #ff6b81;
}
.blue{
    background-color: #0abde3;
}
.green{
    background-color: #10ac84;
}
.black{
    background-color: black;
}
.material-icons{
    font-size: 2rem!important;
}
.modal{
    height: 20rem;
    width: 35rem;
    display: flex;
    position: fixed;
    top: 20vh;
    /* ye left wala 50% jo hain wo body ki width ka hai */
    left: 50%;
    /* ye translate wala jo 50% hai wo khudke element ka hai*/
    transform: translateX(-50%);
}


.task-section{
    background-color: #ecf0f1;
    height: 100%;
    width: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.task-inner-container{
    height: 80%;
    width: 80%;
    background-color: white;
    outline: none;
    padding: 10px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.modal-priority-section{
    height: 100%;
    width: 30%;
    background-color: #2c3e50;
    display:flex;
    justify-content: center;
    align-items: center;
}


.priority-inner-section{
    height: 80%;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.modal-priority{
    height: 22%;
    width: 80%;
}

.modal-priority:hover{
    border:5px solid #7f8c8d;
}
.selected{
    border:5px solid #7f8c8d;
}
.ticket{
    margin: 10px;
    height: 12rem;
    width: 20rem;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}
.ticket-color{
      height: 8%;
      width: 100%;
}
.ticket-id{
    height: 16%;
    width: 100%;
    font-weight: bold;
    padding: 5px;
}
.actual-task{
    height: 76%;
    width: 100%;
    padding: 10px;
  background-color: #f7f1e3;
  overflow: auto;
}